<section class=" backcolor">
    <div>  
        <style> @import url('https://fonts.googleapis.com/css2?family=Inika:wght@700&display=swap'); </style>
            <!--Imagen e informacion inicial tipo banner--> 
        <div class="d-flex">
            <div class="bannerimg d-flex justify-content-center align-items-center border-warning">
              <img class="imgbannerqen rounded-4 " src="assets/bannerqen2.jpg" alt="">
            </div>
    
            <div class="bannertext">
                <h3 class="parrafobanner">
                  Networkers es una plataforma que conecta empresas con personas independientes 
                  que buscan ofrecer sus habilidades como servicios. La plataforma permite a las 
                  personas registrarse y establecer en su perfil sus habilidades, y el valor por 
                  sus servicios, asi mismo como las empresas pueden publicar sus proyectos o vacantes 
                  destinadas a personas con ciertas habilidades y ofreciendo una paga correspondiente
                   a lo que los negocios consideren adecuado. 
                </h3>
            </div>
    
        </div>
    
    
        <!--Eslogan y parrafo-->
        <div class="m-4 d-flex justify-content-around flex-wrap">
          <div>
            <img class="banenterprise m-5" src="assets/banenterprise.jpg" alt="">
    
          </div>
          <div>
            <img class="employers m-5" src="assets/employers.jpg" alt="">
    
          </div>
    
        </div>
    
        <!--tarjetas-->
        <div>
          <style> @import url('https://fonts.googleapis.com/css2?family=Inika:wght@700&display=swap'); </style>
          <div class="d-flex justify-content-around flex-wrap">
              <div class="card m-3 " style="width: 400px; height: 300px;">
                  <div class="card-body backcolorcard1 d-flex justify-content-center align-items-center text-center">
                    <h3 class="card-title newfont1 p-3">Networkers facilita la conexión entre negocios y personas, al proveer facilidades tales como pagos digitales y establecidos en las fechas escogidas por ambas partes, dando asi seguridad a los usuarios. </h3>
                  </div>
                </div>
      
                <div class="card m-3 " style="width: 400px; height: 300px;">
                  <div class="card-body backcolorcard1 d-flex justify-content-center align-items-center text-center">
                    <h3 class=" card-title newfont1 p-3">En Networkers cualquier persona con cualquier tipo de habilidad puede registrarse y encontrar diferentes compañías con quien conectar.</h3>
                  </div>
                </div>
      
          </div>
    
        </div>
    
    
    
        <!--Tarjeta de subscripcion-->
        <div>
          <div class="d-flex justify-content-center m-5 py-5">
            <div class="card backcolorsub border border-primary " style="width: 95%;">
              <div class="card-body text-center">
                <h3 class="card-title p-3 text-white newfont">¡Refiere a nuevos usuarios y recibe tres meses de Networkers Premium gratis!</h3>
                <input class="inputname newfont" type="email" placeholder="Correo Electrónico">
                
              </div>
              <button type="button" class="btn btn-secondary referralbutton newfont">Obtener link de referido</button> 
              
            </div>
      
          </div>
    
        </div>
    
    
    
    </div>
    </section>    