<section class=" backcolor">
    <!--Eslogan y parrafo-->
    <div>
      <style> @import url('https://fonts.googleapis.com/css2?family=Inika:wght@700&display=swap'); </style>
        <h1 class="tituloesloganj ms-5 pt-5" >
            Networkers para empresas/negocios
        </h1>

        <div class="parrafocontainerj">
            <p class="parrafo1j text-left">
                Publica un empleo o proyecto especificando de que se trata, que necesitas y cuanto pagarías por ello, o entra al talent Marketplace y encuentra a la persona indicada para lo que requieres.
            </p>
            
        </div>

    </div>

    <!-- ==DIV-CUADRO MORADO-POST== -->

    <div class="contenedor1j">
      <style> @import url('https://fonts.googleapis.com/css2?family=Inika:wght@700&display=swap'); </style>
        <div class="linepost text-white">
            <p>Escribe un titulo para tu perfil</p>
            <input class="inputj" type="text" name="titulo" size="90">
        </div>
        <div class="linepost text-white">
            <p>Busca habilidades o agrega las tuyas</p>
            <input class="inputj" type="text" name="titulo" size="50">          
        </div>
        <div class="linepost text-white">
            <p>Define el enfoque de tu proyecto</p>
        </div>
        <div class="linepost2 text-white">
            <div><p class="selectj"><input type="radio">Corto Plazo</p></div>
            <div><p class="selectj"><input type="radio">Medio Plazo</p></div>
            <div><p class="selectj"><input type="radio">Largo Plazo</p></div>
        </div>
        <div class="linepost text-white">
            <p>Escribe una descripción</p>
            <textarea class="inputj" name="descripcion" id="non" cols="30" rows="10"></textarea>
        </div>
        <div class="btnraj">
          <button type="button" class="btn btn-outline-light">Send</button>
        </div>
    </div>
</section>
<!-- ==DANIEL-FORMS== -->
<div>
  <style> @import url('https://fonts.googleapis.com/css2?family=Inika:wght@700&display=swap'); </style>
    <h1 class="tituloesloganj ms-5 pt-5" >
      NetWorkers Para Personas
    </h1>

    <div class="parrafocontainerj">
        <p class="parrafo1j text-left">
          Las personas podrán registrarse y agregar a su perfil las habilidades que tienen, su experiencia
          y el tipo de proyectos que estan buscando, opcionalmente pueden agregar un estimado al valor 
          que esperan recibir o tambien pueden buscar los proyectos ya posteados y aplicar a ellos.
        </p>
        
    </div>

</div>
 <div class="d-flex p-3 bd-highlight"> 
    
    <div class="mx-auto " style="width: 1300px;" > 

    <div class="container text-white">
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm">
                    <form class="form-horizontal p-2">              

                        <fieldset>
                                
                            <div class="form-group py-2 ">
                                <p>Escribe un titulo para tu perfil</p>
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                <div class="col-md-8">
                                    <input id="fname" name="name" type="text" placeholder="" class="form-control">
                                </div>
                            </div>
                            <div class="form-group py-2">
                                <p>Busca habilidades o agrega las tuyas</p>
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                <div class="col-md-8">
                                    <input id="lname" name="name" type="text" placeholder="" class="form-control">
                                </div>
                            </div>
    
                            <div class="form-group py-2">
                                <p>Agrega el valor que esperas recibir</p>                         
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                                <div class="col-md-8">
                                    <input id="email" name="email" type="text" placeholder="" class="form-control">
                                </div>
                            </div>                                
    
                            <div class="form-group py-2 ">
                                <p>Escribe una descripcion sobre ti tus habilidades e intereses</p>
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                                <div class="col-md-8">
                                    
                                </div><textarea class="form-control" id="message" name="message" placeholder="write your message here" rows="4"></textarea>
                            </div>

                            <div class="form-group py-3">
                                <div class="col-md-12 text-center hover">
                                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                                </div> 
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="parrafocontainerj">
  <p class="parrafo1j text-left">
    Una vez una empresa/negocio conecta con una persona para su proyecto, Networkers facilita una confirmación de ambas partes en donde se estipula el valor a pagar, el método de pago y la regularidad en que los pagos se harán (contado, semanal, mensual, etc.) esta confirmación puede ser vista por ambas partes y puede ser consultado en cualquier momento.
  </p>
</div>